Author 1997 @Moelwintun

RFC2401
RFC2409
RFC2119/RFC2406/RFC2451
RFC2104
RFC2404/rfc2409
RFC2406
RFC3526
RFC 4308
RFC3602
RFC 3566
RFC 3664